body {
  font-family: "Patua One", cursive;
}

.Weather {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 5px;
}

.Weather h1,
h2 {
  text-align: center;
}

.Weather h1 {
  font-size: 40px;
  margin: 10px 0 0 0;
}

.Weather h2 {
  font-size: 30px;
  margin: 0 0 10px 0;
  font-weight: 100;
}

.Weather h3 {
  font-size: 25px;
  text-align: center;
  font-weight: 900;
}

.Weather canvas {
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
}

.Weather li {
  font-size: 18px;
  list-style: none;
  line-height: 28px;
  text-align: center;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 70px;
  line-height: 50px;
}

.Weather .unit {
  font-size: 20px;
  position: relative;
  top: -30px;
  margin-left: 5px;
}

.WeatherTemperature .unit a {
  text-decoration: none;
}
